.orb {
  position: fixed;
  border-radius: 50%;
  filter: blur(100px);
  pointer-events: none;
  z-index: 0;
}

.orb1 {
  width: 600px;
  height: 600px;
  background: rgba(79, 124, 255, 0.12);
  top: -200px;
  right: -100px;
}

.orb2 {
  width: 400px;
  height: 400px;
  background: rgba(0, 229, 201, 0.08);
  bottom: 10%;
  left: -100px;
}

.orb3 {
  width: 300px;
  height: 300px;
  background: rgba(79, 124, 255, 0.06);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
